#quote{
  font-size: 20px;
}
#quotefooter{
  font-size: 20px;
  margin: 10px;
}

footer{
  color: antiquewhite;
  margin: 10px;
}

#voteUpButton{
  margin-right:20px ;

}

#voteDownButton{
  margin-left: 20px;

}

#voteUpImg{
  margin-right: 5px;
}

#voteDownImg{
  margin-right: 5px;
}