<div class="container-fluid text-center">
  <h1>Famous Quotes by Famous People</h1>
  <cite id="tap">Tap on the quotes to see more</cite>
  <div *ngFor='let quote of quotes;let i = index' class="QuoteInfo">
    <div (click)='toggleDetails(i)'>
      <blockquote appHighlight *ngIf="check() === quote.upvotes && quote.upvotes > 0 " class="blockquote text-center">
        {{quote.content}}</blockquote>
      <blockquote *ngIf="check() !== quote.upvotes || quote.upvotes === 0 " class="blockquote text-center">
        {{quote.content}}</blockquote>
    </div>
    <div>
      <p id="dateCustom" class="text-left">posted {{quote.currentDate|pipecount}}</p>
    </div>
    <div>
      <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (voteCountDown)=counterDown(i)
        (voteCountUp)=counterUp(i)></app-quote-details>
    </div>
  </div>
  <h3>Fill the form below to enter your favourite Quotes</h3>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <app-quote-form (addQuote)=addNewQuote($event)></app-quote-form>
    </div>
    <div class="col-md-4">
    </div>
    
  </div>
</div>