
blockquote{
  font-family: fantasy;
  font-size: 20px;
  color: antiquewhite;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#dateCustom{
  color: antiquewhite;
}
