@import "~bootstrap/dist/css/bootstrap.css" ;

#quoteBackground{
  background-image: url("./assets/images/anotherbcn.jpg");
  background-position: center;
  background-size: contain;
  
}

/* You can add global styles to this file, and also import other style files */