
<div class="quoteForm">
  <form (ngSubmit)='submitQuote()' #quoteForm = 'ngForm'>
    <div class="form-group">
      <label for="contributor">Please Enter your Full Name</label>
      <input type="text" name="contributor" id="contributor" class="form-control" [(ngModel)]="newQuote.contributor" #contributor = 'ngModel' required>
    </div>
    <div class="form-group">
      <label for="content">Quote</label>
      <textarea name="content" id="" cols="30" rows="10" class="form-control" [(ngModel)]="newQuote.content" #content='ngModel' required></textarea>
    </div>

    <div class="form-group">
      <label for="author">Please Enter the Quote Author</label>
      <input type="text" name="Author" id="Author" class="form-control" [(ngModel)]="newQuote.author" #Author='ngModel' required>
    </div>
    <button id="submitButton" class="btn " type="submit">Submit</button>
  </form>
</div>